:root {
  --game-gap: 0.2rem;
}
/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.game_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 40px repeat(5, 20px);
  grid-gap: var(--game-gap);
  padding: var(--game-gap);
}

.category, .clue {
  background: blue;
}